<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head lang="en" th:replace="common/head :: head"></head>

<body>
<div id="content">	
		<nav lang="en" th:replace="common/header :: header"></nav>
		<div class="container my-3">
		<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item active" aria-current="page" th:text="${exam.name}+' Exam'"></li>
			  </ol>
			</nav>
			
			<div class="container" >
			<div class="table-responsive">
				<table class="table-responsive" style="width:40%; margin-right:auto; margin-left:auto;" >
					<th:block th:if="${page.content.size() > 0 }">
					<tr th:each="question ,rowNumber : ${page.content}">	
						<td>
							<table>
								<tr>
									<td colspan="3" width="600px" height="60px" style="padding-left:120px;">
										<p hidden="hidden" id="endDT" th:text="${exam.endDateTime}"></p>
										<p id="timeLeft" ></p>
									</td>
								</tr>
						
								<tr>
									<td style="font-weight:bold;" colspan="3" height="50px" th:text="'Q: '+${question.question}">
										
									</td>
								</tr>
						
								<tr>
									<td style="border: 1px solid #dee2e6; padding-left:40px;" colspan="3" height="200px">
										<input id="answer1" type="radio" name="anwser"> <label for="answer1" th:text="${question.answer1}"></label><br>
										<input id="answer2" type="radio" name="anwser"> <label for="answer2" th:text="${question.answer2}"></label><br>
										<input id="answer3" type="radio" name="anwser"> <label for="answer3" th:text="${question.answer3}"></label><br>
										<input id="answer4" type="radio" name="anwser"> <label for="answer4" th:text="${question.answer4}"></label>
									</td>
								</tr>
						
								<tr height=10px background='white'>
			    				</tr>
								
							</table>
							<table>
								<tr>
									<td></td>
									<td align="center" style="padding-left:90px;"><th:block lang="en" th:replace="common/custompager :: common"> </th:block></td>
									<td></td>
								</tr>
							</table>
													
						</td>
					</tr>
				</th:block>
				</table>
				</div>
				<div class="table-responsive">
				<table style="width: auto; margin-right: 0px; margin-left: auto;">
							<tr>
								<td style="padding-right:5px;">
									<a class="btn btn-sm btn-warning" th:href="@{/exam}">Save</a>
								</td>
								<td>
									<a class="btn btn-sm btn-primary" data-toggle="confirmation" th:href="@{'/exam/result/'+${exam.id}}+'/'+${user.id}">Complete</a>
								</td>
							</tr>
				</table>
				</div>				
			</div>
			
		</div>

</div>

<script>
		var countDownDate = new Date(document.getElementById('endDT').textContent).getTime();
		
				var x = setInterval(function() {

			  // Get today's date and time
			  var now = new Date().getTime();

			  // Find the distance between now and the count down date
			  var distance = countDownDate - now;

			  // Time calculations for days, hours, minutes and seconds
			  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
			  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
			  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
			  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

			  // Display the result in the element with id="demo"
			  document.getElementById("timeLeft").innerHTML = "Time Left : " + days + "d " + hours + "h "
			  + minutes + "m " + seconds + "s ";

			  // If the count down is finished, write some text
			  if (distance < 0) {
			    clearInterval(x);
			    document.getElementById("timeLeft").innerHTML = "Time Left : EXPIRED";
			  }
			}, 1000);
	</script>

<footer lang="en" th:replace="common/footer :: footer"></footer>
	<script th:src='@{/js/bootstrap-confirmation.min.js}'></script>
	<script th:src="@{/js/confirmation-config.js}"></script>
</body>
</html>