<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head lang="en" th:replace="common/head :: head"></head>
<body>

	<div id="content">	
		<nav lang="en" th:replace="common/header :: header"></nav>
		<div class="container my-3">
		<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item"><a th:href="@{/exam}" >Exam List</a></li>
			    <li class="breadcrumb-item active" aria-current="page" th:text="${exam.name} +' Exam Status'"></li>
			  </ol>
			</nav>
			
			<div class="container">
				<div class="table-responsive">
			  		<table>
			  		<tr>
			  			<td style="border: 1px solid #dee2e6;" width="600px" height="250px">
			  				
			  				<table>
			  					<tr>
			  						<td style="padding-bottom:15px; padding-left:10px;" width="200px" height="50px">
			  							Exam Completed
			  						</td>
			  						<td width="200px">
			  						</td>
			  						<td width="200px">
			  						</td>
			  					</tr>
			  						
			  					<tr>
			  						<td style="font-size:80px;" align="center" colspan="3" height="150px">
			  							<table>
			  								<tr>
			  									<td><p></p></td>
			  									<td><p>/</p></td>
			  									<td><p th:text="${uservice.getCountStudents()}"></p></td>
			  								</tr>
			  							</table>
			  							
			  						</td>
			  					</tr>
			  					<tr>
			  						<td style="padding-bottom:0px;" align="center" colspan="3" height="50px">
			  							<p id="timeLeft"></p>
			  						</td>
			  					</tr>
			  				</table>	
			  				
			  			</td>
			  			
			  			<td style="border: 1px solid #dee2e6;" rowspan="2" width="5px" background="white" height="100%">
			  			</td>
			  			
			  			<td style="border: 1px solid #dee2e6; vertical-align:top; padding-top:8px; padding-left:10px; padding-right:10px;" rowspan="2" width="600px" height="400px">
			  				Attending Student List
			  				
			  				<div class="table-responsive">
			    				<table class="table table-bordered table-striped"  style="overflow-x: auto !important;">
			        				<thead>
			            				<tr>
			                				<th>Student</th>			                
			                				<th>Completion</th>
			                			</tr>
			                		</thead>
			                		<tbody>
			        					<th:block th:if="${page.content.size() > 0 }">
											<tr th:each="students ,rowNumber : ${page.content}">	
												<td><a class="result" th:text="${students.name}" th:href="@{'/exam/result/'+${exam.id}}+'/'+${students.id}"></a></td>				               				              
				                				<td class="completion" th:text="Completion"></td>				               
				                			</tr>
				        				</th:block>
				        				<th:block th:unless="${page.content.size() > 0 }">
											<tr>
												<td colspan="100%" class="alert alert-danger" style="text-align: center;">No Students Available</td>
											</tr>
										</th:block>
			        				</tbody>
			                	</table>
			                	<th:block lang="en" th:replace="common/pager :: common"> </th:block>
			                </div>		
			  				
			  			</td>	  			
			  		</tr>
			  		<tr>
			  			<td style="border: 1px solid #dee2e6; padding-bottom:40px; padding-left:10px;" height="50%">
			  				<p th:text="'Exam Started Time : '+${#dates.format(exam.startDateTime,'yyyy-MM-dd HH:mm:ss')}"></p><br>
			  				<p id="endDT" th:text="'Exam Ending Time : '+${#dates.format(exam.endDateTime,'yyyy-MM-dd HH:mm:ss')}"></p>
			  			</td>
			  			<td id="endStatus" th:text="${extservice.examStatus(exam.id)}" hidden="hidden"></td> 			
			  		</tr>
			  		<th:block th:unless="${extservice.examStatus(exam.id) == 'ENDED'}" >
			  		<tr>
			  			<td style="text-align:right;" colspan="3" height="50px">
			  				
			  					<a class="btn btn-sm btn-danger" data-toggle="confirmation" th:href="@{'/exam/end/'+${exam.id}}"> End Exam </a>
			  					<a id="btnEndExam" hidden="hidden" class="btn btn-sm btn-danger" th:href="@{'/exam/end/'+${exam.id}}"></a>  				
			  			</td>
			  			
			  		</tr>
			  		</th:block>
			  		</table>
			 	</div>
			</div>
		</div>
	</div>
	<script>
		var countDownDate = new Date(document.getElementById('endDT').textContent).getTime();
		var endStat = document.getElementById('endStatus').innerHTML;
		var buttonEndExam = document.getElementById('btnEndExam');
		
		if(endStat != "ENDED"){
				var x = setInterval(function() {

			  // Get today's date and time
			  var now = new Date().getTime();

			  // Find the distance between now and the count down date
			  var distance = countDownDate - now;

			  // Time calculations for days, hours, minutes and seconds
			  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
			  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
			  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
			  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

			  // Display the result in the element
			  document.getElementById("timeLeft").innerHTML = "Time Left : " + days + "d " + hours + "h "
			  + minutes + "m " + seconds + "s ";

			  // If the count down is finished, write some text
			  if (distance < 0) {
			    clearInterval(x);
			    document.getElementById("timeLeft").innerHTML = "Time Left : EXPIRED";
			    buttonEndExam.click();
			  }
			}, 1000);
		}else{
			document.getElementById("timeLeft").innerHTML = "EXAM ENDED";
		}
	</script>
	<script type="text/javascript">
		$('#statusMenuItem').addClass('active');
		
		var elements = document.getElementsByClassName("completion");
		var ets = document.getElementsByClassName("result");
		
		for(var e = 0; e < elements.length; e++) {
			   var element = elements[e];
			   var et = ets[e];
			   
				var compl = element.innerHTML;
				
				if (compl != "Completion"){
					et.removeAttribute("href");
				}
			}
		
	</script>	
	<footer lang="en" th:replace="common/footer :: footer"></footer>
	<script th:src='@{/js/bootstrap-confirmation.min.js}'></script>
	<script th:src="@{/js/confirmation-config.js}"></script>
</body>
</html>