<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="common/head :: head"></head>
<style type="text/css">
    .exactCenter {
      width:1000px;
      height:200px;
      position: fixed;
      top: 50%;
      left: 45%;
      margin-top: -100px;
      margin-left: -100px;
    }
  </style>

<body>
<div id="content">
	<nav lang="en" th:replace="common/header :: header"></nav>
	<div class="container-fluid mt-5">
		
		<div class="row justify-content-center align-items-center">
		<div class="exactCenter">
			<div class="col col-sm-6 col-md-6 col-lg-4 col-xl-4">
				<div class="alert alert-danger">    
    				Sorry, You Do Not Have Permission to do that action! Please Go Back
				</div>
				<a th:href="@{/exam}" class="btn btn-primary">BACK</a>
			</div>
		</div>
		</div>
		
	</div>
	</div>
	<footer lang="en" th:replace="common/footer :: footer"></footer>
	
</body>
</html>