@media only screen and (min-width: 768px) {
  .table-responsive {
    overflow-x: hidden;
  }
}

li.page-item.active a.page-link {
	background-color: #d6dbd7 !important;
}


.pl-6,
.px-6 {
  padding-left: 43rem !important;
}


.btnPrev{	
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  background-color: #ddd;
  color: black;
}

.btnPrev:hover{
  background-color: #007bff;
  color: white;
  text-decoration: none;
}

.btnNext{	
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  background-color: #ddd;
  color: black;
}

.btnNext:hover{
  background-color: #007bff;
  color: white;
  text-decoration: none;
}


.duration-picker-container{
    font-size: 14px;
}
.duration-picker-container select{
    width: 45px;
    display: inline-block;
    height: 26px;
    padding: 0;
    box-sizing: content-box;
    border-radius: 3px;
    margin-left: 10px;
    background: #fff;
    border: 1px solid #e1e1e1;
    font-size: 13px;
}