<!DOCTYPE html>		

<th:block th:fragment="common" th:if="${page != null && page.content != null && page.content.size() &gt; 0 }" th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"> 
	<div class="row">
		
			<ul class="pagination  justify-content-end">
		  		<li class="page-item" th:if="${page.hasPrevious()}">
		  			<a class="page-link" th:href="@{'?page=' + ${page.number-1}}" th:onclick="${exsservice.updateLastQueNo(user.id,exam.id,page.number)}">Previous</a>
		  		</li>
		  		
		  		<li class="page-item disabled" th:unless="${page.hasPrevious()}">
		  			<a class="page-link">Previous</a>
		  		</li>
		  		
				<li  class="page-item disabled">
					<a style="color:black;" class="page-link" th:text="'Question '+${(page.number) + 1}"></a>
				</li>
		       	
		      	<li class="page-item" th:if="${page.hasNext()}">
		      		<a style="width:80px;" class="page-link" th:href="@{'?page=' + ${page.number+1}}" th:onclick="${exsservice.updateLastQueNo(user.id,exam.id,page.number)}">Next</a>
		      	</li>
		      	<li class="page-item disabled" th:unless="${page.hasNext()}">
		      		<a  style="text-align:center; width:80px;" class="page-link">Next</a>
		      	</li>
		      	
			</ul>
		</div>    	
    <script type="text/javascript"  th:inline="javascript">
		function getURLParameter(url, name) {
		    return (RegExp(name + '=' + '(.+?)(&|$)').exec(url)||[,null])[1];
		}

	</script>	
</th:block>
